*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display:flex;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/*---content--*/
.content{
  
  display: flex;
  align-items: center;
  width: 1140px;
  height: 534px;
  gap:30px;
  border: 1px solid #efd1d1; /* Для наглядности */ 
  flex-direction: row;    /* Располагаем элементы в строку */  
   
   }

/*---content на большом экране--*/

/*-----------------result-------------------------*/
 .result{
  
grid-area: result;
display: grid;  
grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */  
grid-template-rows: repeat(5, 1fr); /* 5 строк  */  
gap: 10px; /* отступы между элементами */  
grid-auto-columns: auto;
grid-template-areas:
"video video video"
"video video video"
"video video video"
"search-form search-form search-form";

   
width: 711px;
height: 456px;
justify-content: left;
border: 1px solid #E32636; /* Для наглядности */ 
 } 
/*---video--*/
.result__video-container{
  
   border: 1px dotted #34C924;
}

.result__video{
  display:grid;
  grid-area: video;
  grid-column: 1/4;
  grid-row: 1/4;
  width:711px;
  height: 386px;
  border: 1px dotted #34C924;
}

/*-статусы видео-*/

/*---найдено--*/

/*---не-найдено--*/


/*--  search-form-------------*/
.search-form{
  grid-area: search-form;
  width: inherit;
 border: 1px dotted #34C924;
 display: flex;
}

.search-form__fieldset{
   border: 1px dotted orange;
}

/*--Город--*/
.search-form__fieldset:nth-child(1){
  border: 1px dotted #E32636;
  display: flex;
  grid-area: city;
   grid-column: 1/2;
  grid-row: 5/6;
  width: 225px;
  height: 54px;

}
 /*--Время суток--*/
.search-form__fieldset:nth-child(2){
  border: 1px dotted #E32636;
  display: flex;
  grid-area: time;
   grid-column: 2/3;
    grid-row: 5/6;
  width: 212px;
  height: 49px;
}
/*---инпут без данных--*/
/*---инпут с данными--*/


/*---button---*/

.search-form__submit-button{
 border: 1px dotted #E32636;
display: flex;
  grid-area: button;
   grid-column: 3/4;
   grid-row: 5/6;
  width: 194px;
  height: 34px;
}



/*-----------------details---------------------*/
 .content__details {
grid-area: details;
display: grid;  
grid-template-columns: repeat(6, 1fr); /* 6 равные колонки */  
grid-template-rows: repeat(5, 1fr); /* 5 строк  */  
gap: 10px; /* отступы между элементами */  
grid-auto-columns: auto;


width: 399px;
height: 534px;
border: 1px solid blue ;/* Для наглядности */ 

  overflow-x:hidden;
 overflow-y: auto;
 
 }


 /*--------title---------*/
.title{
grid-area: title;
grid-column: 1/5;
grid-row: 1/3;
width: 259px;
height: 210px;
font-weight: 700;
font-size: 75px;
line-height: 94%;
font-size: 75px;
letter-spacing: 0;
font-family: Oswald;
font-style:bold;
text-transform: uppercase;
margin: 0 0 26px 0;

}



 /*-----searche results----------------------*/
 

 
 /*-----searche results---*/


 /*--card-list--*//*--*/
 .content__list-container{
  display:grid;
grid-area:content__list-container;
grid-column: 1/6;
grid-row: 3/4;
width: 299px;
height: 298px;
color:red;
flex-direction: row; 
 }



 /*-card-*/
.content__list-item{
  grid-area: list-video;
  display: flex;
  width: 190px;
height: 103px;
color:burlywood;
flex-direction: row;
margin: 0 0 30px 0;
}

.content__video-card {
  display: flex;
  
}


 /*--description--*/
.content__video-card-description-container{
  display: flex;
  width: 196px;
height: 103px;

flex-direction:column; 
align-items: flex-start;
}



 /*--preview------*/
.content__video-card-thumbnail{
   display: flex;
  width: 194px;
height: 103px; 
align-items: flex-end;

}



 /*----статусы карточки--*/
 /*-default-*/
 /*-:active-*/
 /*-:hover-*/
 /*-:focus-visible-*/



 /*---после 4 карточки показать кнопку--*/


 /*--button--- -*/



 /*-----scrollbar---------*/
 







