/*убрать*/
/*.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*убрать*/
  /*outline: 1px solid red;*/
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  align-content: center;
  justify-content: center;
  /*outline: green 3px solid;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар 
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}*/

/*---content--*/
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 равные колонки */
  grid-template-rows: repeat(1, 1fr); /* 1 строк  */
  grid-template-areas: "result details ";

  gap: 30px;
  /* border: 15px solid #efd1d1; /* Для наглядности */
  flex-direction: row; /* Располагаем элементы в строку */
  margin: 0 auto;
  padding: 0 25px;
}

/*---content на большом экране--*/

/*-----------------result-------------------------*/
.result {
  grid-area: result;
  display: grid;
  grid-template-columns: repeat(1, auto); /* 1 равные колонки */
  grid-template-rows: repeat(2, auto); /* 1 строка  */
  grid-auto-columns: auto;
  grid-template-areas:
    "video "
    "search-form ";

  width: 711px;
  padding: 0;
  margin: 0;
}
/*---video--*/
.result__video-container {
  margin: 78px auto 16px auto;
  padding: 0;
  position: relative; /* Относительное позиционирование для дочернего элемента */
  grid-area: video;
  display: flex;
  height: 386px;
}

.result__video {
  margin: 0;
  padding: 0;
  width: 711px;
  height: 386px;
  object-fit: cover;
}

/*-статусы видео-*/

/*---найдено--*/

/*---не-найдено--*/

/*--  search-form-------------*/
.search-form {
  grid-area: search-form;
  width: inherit;
  height: fit-content;
  display: flex;
  margin: 0 0 1.5px 0;
  padding: 0;
}
.search-form__label {
  display: flex;
  justify-content: inherit;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.search-form__fieldset {
  /*outline: 5px green dotted;*/
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  gap: 5px;
  flex-direction: column;
  font-family:
    Fira Sans Condensed,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0;
}

.search-form__fieldset-title {
  padding: 0;
  margin: 0;
  font-family:
    Fira Sans Condensed,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  width: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--Город--*/
.search-form__fieldset:nth-child(1) {
  grid-area: city;
  grid-column: 1/2;
  grid-row: 5;
  width: 225px;
  margin: 0 40px 0 0;
  padding: 0;
  height: fit-content;
}
.search-form__textfield {
  background: transparent; /* Прозрачный фон */
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: none;
  border-right: none;
  color: #fff;
  appearance: none;
  margin: 3px 0 0 0;
  padding: 0;
  width: inherit;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/*---город-фокус-*/
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  padding: 1px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

/*--Время суток--*/
.search-form__fieldset:nth-child(2) {
  grid-area: time;
  grid-column: 2/3;
  grid-row: 5;
  width: 212px;
  margin: 0 40px 0 0;
  height: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin: 1.5px 0 0 0;
  padding: 0;
}

.search-form__pseudo-checkbox {
  content: "";
  width: 19px;
  height: 19px;
  border: 1px solid white;
  gap: 1px;

  margin: 1.5px 5px 1.5px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  left: 0;
  padding: 0;
}

.search-form__pseudo-checkbox::before {
  content: " "; /* Создаем псевдоэлемент без содержимого */
  display: flex; /* Делаем псевдоэлемент блочным */
  background-color: white; /* Белый цвет фона */
  width: 80%; /* Ширина 100% */
  height: 80%; /* Высота 100% */
  opacity: 0; /* Полностью прозрачный */
  gap: 1px;
  position: relative;
  transition: 0.2s;
  margin: auto;
  justify-content: center;

  padding: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  /* When the checkbox is checked, add a white background */
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  /*--подчеркиваем текст при наведении на чекбокс*/
  text-decoration: underline;
}
/*--выделяем чекбокс розовым при выделении табом--*/
/*.search-form__pseudo-checkbox::after {
  content: " "; /* Создаем псевдоэлемент без содержимого */
/*display: inline-block; /* Делаем псевдоэлемент блочным */
/*outline: 3px solid plum;*/

/*height: 100%; /* Высота 100% */
/*}*/

.search-form__checkbox:focus-visible ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text {
  font-family:
    Fira Sans Condensed,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
  margin: 1.5px 0 1.5px 0;
  caret-color: transparent;
  padding: 0;
}

/*---инпут без данных--*/
/*---инпут с данными--*/

/*---button-найти--*/

.search-form__submit-button {
  display: flex;
  width: 194px;
  margin: 20px 0 0 40px;
  text-transform: capitalize;
  padding: 0;
  height: fit-content;
  justify-content: end;
}

/*-----------------details---------------------*/
.content__details {
  grid-area: details;
  display: grid;
  grid-template-columns: repeat(2, auto); /* 3 равные колонки */
  grid-template-rows: repeat(2, auto); /* 2 строк  */
  grid-auto-columns: auto;
  grid-template-areas:
    " title . . "
    "content__list-container content__list-container content__list-container ";
  padding: 0;
  margin: 0;
  position: relative;
}

/*--------title---------*/
.title {
  grid-area: title;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 259px;
  height: 210px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 26px 0;
  padding: 0;
  opacity: 1;
}

.content__accent {
  color: #545050;
}

/*-----searche results----------------------*/

/*-----searche results---*/

/*--card-list--*/ /*--*/
.content__list-container {
  display: grid;
  grid-area: content__list-container;
  grid-column: 1/3;
  grid-row: 2/3;
  flex-direction: row;
  margin: 0;
  padding: 0;
  scroll-snap-type: inherit;
  overflow: auto;
  height: 298px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: fit-content;
}

/*-card-*/
.content__list-item {
  display: flex;
  width: inherit;
  flex-direction: row;
  margin: 0 0 30px 0;
  padding: 0;
}
/*ссылка карточки---*/
.content__card-link {
  text-decoration: none;
  display: block;
  position: relative;
}
.content__card-link:hover {
  text-decoration: underline 2px white;
}
.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}
.content__card-link:focus {
  outline: none;
}

.content__card-link::before {
  content: "";
  position: relative;
  top: -2px; /* Размер обводки сверху */
  right: -2px; /* Размер обводки справа */
  bottom: -2px; /* Размер обводки снизу */
  left: -2px; /* Размер обводки слева */
  outline: 1px solid white; /* Цвет и толщина обводки */
  pointer-events: none; /* Делаем псевдоэлемент некликабельным */
  transform: translate3d(0, 0, 0); /* Оптимизация для анимации */
  opacity: 0;
}

/* Эффект при наведении */
.content__card-link:focus-visible::before {
  opacity: 1;
}

.content__video-card {
  display: flex;
  align-items: start;
  letter-spacing: 2px;
}

/*--description--*/
.content__video-card-description-container {
  width: 196px;

  flex-direction: column;
  align-items: flex-start;
  flex-grow: 3;
  padding: 0;
  margin: 0;
}
.content__video-card-description {
  color: #fff;
  letter-spacing: normal;
  font-family:
    Fira Sans Condensed,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/*--preview------*/
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  align-items: flex-end;
  object-position: center;

  display: block;
  outline: none;
  padding: 0;
  margin: 0;
}

/*----статусы карточки--*/
/*-default-*/
/*-:active-*/
/*-:hover-*/
/*-:focus-visible-*/

/*---после 4 карточки показать кнопку--*/

/*--button--- -*/

.button {
  background: transparent; /* Прозрачный фон */
  align-items: center;
  justify-content: center;

  /* border-radius: 5px; /* Скругленные углы (можно убрать, если не нужно) */
  cursor: pointer; /* Изменение курсора при наведении */

  outline: none; /* Убираем выделение при клике */
  color: #fff;
  border: 1px solid white; /* Белая граница толщиной 1 пиксель */
  min-height: 34px;

  font-family:
    Fira Sans Condensed,
    Arial,
    sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 2px solid #ffffff;
  opacity: 1;
}

.more-button {
  width: inherit;
  display: flex; /* Как бы нам хотелось `display: упражнение "жим-лежа"`, но пока что подойдет `block` */
}

.button::before {
  content: "";
  position: relative;
  top: -2px; /* Размер обводки сверху */
  right: -2px; /* Размер обводки справа */
  bottom: -2px; /* Размер обводки снизу */
  left: -2px; /* Размер обводки слева */
  outline: 1px solid white; /* Цвет и толщина обводки */
  pointer-events: none; /* Делаем псевдоэлемент некликабельным */
  transform: translate3d(0, 0, 0); /* Оптимизация для анимации */
  opacity: 0;
}

/* Эффект при наведении */

/*-----scrollbar---------*/
/*--preloader--*/
/* Позиционирование относительно .result__video-container */
.preloader .result__video-container {
  /* Прелоадер будет позиционироваться относительно этого контейнера */
  position: relative;
  top: 0;
  left: 0;
}
/* Позиционирование относительно .content__list-container */

.preloader.relative-to-content {
  position: relative;
}
