*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display:flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/*---content--*/
.content{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 534px;
  gap:30px;
  border: 1px solid #efd1d1; /* Для наглядности */ 
  flex-direction: row;    /* Располагаем элементы в строку */  


   
   }

/*---content на большом экране--*/

/*-----------------result-------------------------*/
 .result{
  
grid-area: result;
display: grid;  
grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */  
grid-template-rows: repeat(5, 1fr); /* 5 строк  */  
gap: 10px; /* отступы между элементами */  
grid-auto-columns: auto;
grid-template-areas:
"video video video"
"video video video"
"video video video"
"search-form search-form search-form";
   
width: 711px;
height: 456px;
justify-content: left;
border: 1px solid #E32636; /* Для наглядности */ 
 } 
/*---video--*/
.result__video-container{
  
   border: 1px dotted #34C924;
}

.result__video{
  display:grid;
  grid-area: video;
  grid-column: 1/4;
  grid-row: 1/4;
  width:711px;
  height: 386px;
  border: 1px dotted #34C924;
}

/*-статусы видео-*/

/*---найдено--*/

/*---не-найдено--*/


/*--  search-form-------------*/
.search-form{
  grid-area: search-form;
  width: inherit;
 border: 1px dotted #34C924;
 display: flex;
}

.search-form__fieldset{
   border: 1px dotted orange;
}

/*--Город--*/
.search-form__fieldset:nth-child(1){
  border: 1px dotted #E32636;
  display: flex;
  grid-area: city;
   grid-column: 1/2;
  grid-row: 5/6;
  width: 225px;
  height: 54px;

}
 /*--Время суток--*/
.search-form__fieldset:nth-child(2){
  border: 1px dotted #E32636;
  display: flex;
  grid-area: time;
   grid-column: 2/3;
    grid-row: 5/6;
  width: 212px;
  height: 49px;
}
/*---инпут без данных--*/
/*---инпут с данными--*/


/*---button---*/

.search-form__submit-button{
 border: 1px dotted #E32636;
display: flex;
  grid-area: button;
   grid-column: 3/4;
   grid-row: 5/6;
  width: 194px;
  height: 34px;
}



/*-----------------details---------------------*/
 /*--------title---------*/




 /*-----searche results----------------------*/
  .content__details {
width: 399px;
height: 534px;
justify-content: right;
align-items: center;
border: 1px solid blue ;/* Для наглядности */ 
 }

 
 /*-----searche results---*/


 /*--card-list--*//*--*/

 /*-card-*/
 /*--description--*/
 /*--preview------*/
 /*----статусы карточки--*/
 /*-default-*/
 /*-:active-*/
 /*-:hover-*/
 /*-:focus-visible-*/



 /*---после 4 карточки показать кнопку--*/


 /*--button--- -*/


 /*-----scrollbar---------*/
 







