.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*---content--*/
.content {
  display: flex;
  width: 1140px;
  height: 534px;
  gap: 30px;
  border: 1px solid #efd1d1; /* Для наглядности */
  flex-direction: row; /* Располагаем элементы в строку */
  margin: auto;
  padding: 0;
}

/*---content на большом экране--*/

/*-----------------result-------------------------*/
.result {
  grid-area: result;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
  grid-template-rows: repeat(5, 1fr); /* 5 строк  */
  grid-auto-columns: auto;
  grid-template-areas:
    "video video video"
    "video video video"
    "video video video"
    "search-form search-form search-form";

  width: 711px;
  height: 456px;
  justify-content: left;
  padding: 0;
  margin: 0;
}
/*---video--*/
.result__video-container {
  margin: 0;
  padding: 0;
  position: relative; /* Относительное позиционирование для дочернего элемента */
}

.result__video {
  display: grid;
  grid-area: video;
  grid-column: 1/4;
  grid-row: 1/4;
  width: 711px;
  height: 386px;
  margin: 78px 0 0 0;
  padding: 0;
  object-fit: fill;
}

/*-статусы видео-*/

/*---найдено--*/

/*---не-найдено--*/

/*--  search-form-------------*/
.search-form {
  grid-area: search-form;

  width: inherit;
  display: flex;
  padding: 0;
  margin: 16px 0 0 0;
}
.search-form__label {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 30px;
}

.search-form__fieldset-title {
  padding: 0;
  margin: 0;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--Город--*/
.search-form__fieldset:nth-child(1) {
  display: flex;
  grid-area: city;
  grid-column: 1/2;
  grid-row: 5;
  width: 225px;
  height: 54px;
  flex-direction: column;
  margin: 0 40px 0 0;
  padding: 0;
  border: unset;
}
.search-form__textfield {
  display: flex;
  background: transparent; /* Прозрачный фон */
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: none;
  border-right: none;
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/*---город-фокус-*/
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
}

.search-form__label:focus {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 3px solid white;
}

/*--Время суток--*/
.search-form__fieldset:nth-child(2) {
  display: flex;
  grid-area: time;
  grid-column: 2/3;
  grid-row: 5;
  width: 212px;
  height: 49px;
  flex-direction: column;
  margin: 0 40px 0 0;
  padding: 0;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  letter-spacing: 0;
}
.search-form__fieldset:nth-child(2) h2 {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
}
.search-form__checkbox-list {
  display: flex;
}

.search-form__pseudo-checkbox {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: inline-block;
  gap: 1px;
  position: relative;
  cursor: pointer;
}

.search-form__pseudo-checkbox::before {
  content: " "; /* Создаем псевдоэлемент без содержимого */
  display: inline-block; /* Делаем псевдоэлемент блочным */
  background-color: white; /* Белый цвет фона */
  width: 100%; /* Ширина 100% */
  height: 100%; /* Высота 100% */
  opacity: 0; /* Полностью прозрачный */
  gap: 1px;
  position: absolute;
  transition: 0.2s;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  /* When the checkbox is checked, add a white background */
  opacity: 1;
}

.search-form__checkbox:hover ~ .search-form__label-text {
  /*--подчеркиваем текст при наведении на чекбокс*/
  text-decoration: underline;
}
/*--выделяем чекбокс розовым при выделении табом--*/
.search-form__pseudo-checkbox::after {
  content: " "; /* Создаем псевдоэлемент без содержимого */
  display: inline-block; /* Делаем псевдоэлемент блочным */
  outline: 3px solid plum;
  position: absolute;
  opacity: 0;
  width: 100%; /* Ширина 100% */
  height: 100%; /* Высота 100% */
}

.search-form__checkbox:focus-visible ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* When the checkbox is checked, add a blue background */

.search-form__label-text {
  width: 35px;
  height: 22px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
}

/*---инпут без данных--*/
/*---инпут с данными--*/

/*---button---*/

.search-form__submit-button {
  display: flex;
  width: 194px;
  min-height: 34px;
  border: 1px solid white; /* Белая граница толщиной 1 пиксель */
  background: transparent; /* Прозрачный фон */
  /* border-radius: 5px; /* Скругленные углы (можно убрать, если не нужно) */
  cursor: pointer; /* Изменение курсора при наведении */
  padding: 0; /* Убираем отступы */
  outline: none; /* Убираем выделение при клике */
  color: #fff;
  text-transform: lowercase;
  font-size: 18px;
  z-index: 3;
  margin: 20px 0 0 0;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-weight: 400;
  font-style: normal;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  text-transform: capitalize;
}
.button search-form__submit-button {
}

/*-----------------details---------------------*/
.content__details {
  grid-area: details;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 равные колонки */
  grid-template-rows: repeat(5, 1fr); /* 5 строк  */
  gap: 30px; /* отступы между элементами */
  grid-auto-columns: auto;
  width: 399px;
  height: 534px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*--------title---------*/
.title {
  grid-area: title;
  grid-column: 1/5;
  grid-row: 1/3;
  width: 259px;
  height: 210px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  font-family: Oswald;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.content__accent {
  color: #545050;
}

/*-----searche results----------------------*/

/*-----searche results---*/

/*--card-list--*/ /*--*/
.content__list-container {
  display: grid;
  grid-area: content__list-container;
  grid-column: 1/6;
  grid-row: 3/4;
  width: 299px;
  height: 298px;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*-card-*/
.content__list-item {
  grid-area: list-video;
  display: flex;
  width: 190px;
  height: 103px;
  color: burlywood;
  flex-direction: row;
  margin: 0 0 30px 0;
  padding: 0;
}
/*ссылка карточки---*/
.content__card-link {
  text-decoration: none;
  display: block;
  position: relative;
}
.content__card-link:hover {
  text-decoration: underline 2px white;
}
.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}
.content__card-link:focus {
  outline: none;
}

.content__card-link::before {
  content: "";
  position: absolute;
  top: -2px; /* Размер обводки сверху */
  right: -2px; /* Размер обводки справа */
  bottom: -2px; /* Размер обводки снизу */
  left: -2px; /* Размер обводки слева */
  border: 1px solid white; /* Цвет и толщина обводки */
  pointer-events: none; /* Делаем псевдоэлемент некликабельным */
  transform: translate3d(0, 0, 0); /* Оптимизация для анимации */
  opacity: 0;
}

/* Эффект при наведении */
.content__card-link:focus-visible::before {
  opacity: 1;
}

.content__video-card {
  display: flex;
  align-items: start;
  letter-spacing: 2px;
}

/*--description--*/
.content__video-card-description-container {
  width: 196px;
  height: 103px;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 3;
}
.content__video-card-description {
  color: #fff;
  letter-spacing: normal;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*--preview------*/
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  align-items: flex-end;
  object-position: center;
  object-fit: fill;
  display: block;
  outline: none;
}

/*----статусы карточки--*/
/*-default-*/
/*-:active-*/
/*-:hover-*/
/*-:focus-visible-*/

/*---после 4 карточки показать кнопку--*/

/*--button--- -*/

.button {
  display: flex;
  background: transparent; /* Прозрачный фон */
  align-items: center;
  justify-content: center;
  background: transparent; /* Прозрачный фон */
  /* border-radius: 5px; /* Скругленные углы (можно убрать, если не нужно) */
  cursor: pointer; /* Изменение курсора при наведении */
  padding: 0; /* Убираем отступы */
  outline: none; /* Убираем выделение при клике */
  color: #fff;
  border: 1px solid white; /* Белая граница толщиной 1 пиксель */
  height: 34px;
  z-index: 3;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  border: 2px solid #ffffff;
  outline: none;
}

.more-button {
  width: 390px;
  display: flex; /* Как бы нам хотелось `display: упражнение "жим-лежа"`, но пока что подойдет `block` */
  box-sizing: border-box;
}

.button::before {
  content: "";
  position: absolute;
  top: -2px; /* Размер обводки сверху */
  right: -2px; /* Размер обводки справа */
  bottom: -2px; /* Размер обводки снизу */
  left: -2px; /* Размер обводки слева */
  border: 1px solid white; /* Цвет и толщина обводки */
  pointer-events: none; /* Делаем псевдоэлемент некликабельным */
  transform: translate3d(0, 0, 0); /* Оптимизация для анимации */
  opacity: 0;
}

/* Эффект при наведении */
.button:focus-visible::before {
  border-color: white;
  opacity: 1;
}

/*-----scrollbar---------*/
/*--preloader--*/
/* Позиционирование относительно .result__video-container */

.preloader.relative-to-result {
  /* Прелоадер будет позиционироваться относительно этого контейнера */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* Позиционирование относительно .content__list-container */
.content__list-container {
  position: relative;
}
.preloader.relative-to-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 100%;
  z-index: 1000;
}
